#modeDark {
    visibility: hidden;
}

#selectOption:first-child option:checked {
    color: gray; /* Ändert die Schriftfarbe zu Grau */
}

#selectOption:first-child option:disabled {
    color: gray; /* Ändert die Schriftfarbe zu Grau */
}

select {
    border-radius: 8px;
    width: 80%;
}

li {
    list-style-type: none;
}

body {
    color: white;
    background-color: rgb(28, 28, 28);
    /*display: grid;
    flex-direction: column;*/
    padding-left: 20%;
    padding-right: 20%;
}

body * {
    margin: 5px;
}

h2 {
    color: orange;
}


input{
    padding: 10px;
    border-radius: 8px;
    width: 76.3%;
}

.orangeButtons {
    font-size: 18px;
    padding: 10px;
    /* color: orange; */
    background-color: orange;
    color: white;
    font-weight: 700;
    border-radius: 8px;

    &:hover {
        color: orange;
        background-color: white;
    }
}

/* Dropdown Content (Hidden by Default) */
#selectOption {
    /*
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    */
    padding: 10px;
    width: 80%;
}

.checkbox {
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

/* Style für die Listenelemente */
#taskList li {
    display: flex; /* Flexbox aktivieren */
    align-items: center; /* Vertikale Ausrichtung */
    justify-content: space-between; /* Platz zwischen den Elementen */
    padding: 5px 0; /* Abstand zwischen den Listenelementen */
}

/* Style für die Checkbox */
#taskList li .checkbox {
    flex-shrink: 0; /* Verhindert, dass die Checkbox skaliert */
    margin-right: 10px; /* Abstand zwischen Checkbox und Text */
}

/* Style für den Text */
#taskList li .taskText {
    flex-grow: 1; /* Text nimmt den verfügbaren Platz ein */
    margin-right: 10px; /* Abstand zwischen Text und Button */
    text-align: left; /* Text linksbündig */
}

/* Style für den Button */
#taskList li .deleteButton {
    flex-shrink: 0; /* Verhindert, dass der Button skaliert */
    margin-left: auto; /* Abstand zwischen Text und Button */
    margin-right: 1000px;
    padding: 5px 10px;
    background-color: white;
    color: red;
    border: none;
    border-radius: 5px;
    font-size: 10px;
}